.vscode/
obj/

src/flex/lex.yy.c
compiler
compiler_dbg
obj
test/parser_expr/parser_test
test/parser_expr/parser_test_dbg
test/parser/parser_test
test/parser/parser_test_dbg
samples/**/*.png
IFJ22code_interpret
final/tests
